__pycache__
.env

/litellm

# Ignore everything except Python files in pipelines dir
#/pipelines/**/*!
#!/pipelines/**/*.py
/pipelines/!**/*.py


data/*
!data/.gitignore

indexes/*
!indexes/.gitignore

.DS_Store

.venv
venv/
